@import "tailwindcss" theme(static);
@import "./base/typography.css";
@import "./base/color.css";
@import "./components/menu.css";

@source "../views/";
@source "../../app/";

@layer base {
    a {
      @apply !no-underline hover:underline focus-visible:underline;
    }
}
  